@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2c8c91;
  color: #fff;
  font-family: 'Commissioner', sans-serif;
  height: 100vh;
  padding-bottom: 100px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  margin: 0;
  text-align: center;
}

.filter-container {
  width: 70vw;
  max-width: 800px;
  margin-top: 2rem;
}

.filter {
  font-size: 1.5rem;
  width: 100%
}

.post {
  position: relative;
  width: 70vw;
  max-width: 800px;
  background-color: #19bcc4;
  border-radius: 5px;
  padding: 10px;
  margin: 40px 0;
  display: flex;
}

.post .title {
  margin: 0;
}

.post .post-body {
  margin-top: 15px;
  line-height: 1.5;
}

.post-info {
  margin-left: 20px;
}

.post .number {
  position: absolute;
  left: -15px;
  top: -15px;
  width: 40px;
  height: 40px;
  background: #fff;
  color: #19bcc4;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading{
  opacity: 0;
  display: flex;
  position: fixed;
  background-color: 50px;
  transition: opacity 0.3s ease;
}

.loading.show {
  opacity: 1;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 5px;
  animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}


@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
  
}